{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="password-reset-sent", lang=lang )}}</title>
{% endblock title %}

{% block content %}
<div class="col-12 px-md-4 px-2 py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h1 class="h4 mb-0"><i class="bi bi-envelope-check" aria-hidden="true"></i> {{ fluent(key="password-reset-sent", lang=lang )}}</h1>
                </div>
                <div class="card-body p-4">
                    <p class="mb-0">{{ fluent(key="password-reset-details", lang=lang )}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
