<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content={{ fluent(key="app-description", lang=lang )}}>
    <meta name="author" content="ToferC">
    <meta property="og:title" content={{ fluent(key="app-mvp", lang=lang )}}>
    
    {% block title %}
        <title>{{ fluent(key="epicenter", lang=lang )}}</title>
    {% endblock title %}

    {% block preload %}
        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- JqueryUI -->
        <link href="/static/jquery-ui/jquery-ui.min.css" rel="stylesheet">
        <!-- Custom Theme CSS with Dark Mode -->
        <link href="/static/css/theme.css" rel="stylesheet">

        <!-- JQuery -->
        <script type="text/javascript" src="/static/jquery/js/jquery.min.js"></script>

        <script type="text/javascript" src="/static/jquery-ui/jquery-ui.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% endblock preload %}
        
    {% block style %}
    <!-- Custom page-specific styles can be added here -->
    {% endblock style %}


    {% block add_preload %}{% endblock add_preload %}

    <link rel='icon' href='/favicon.ico?'/>
</head>

<body>
    <br>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/{{ lang }}">{{ fluent(key="epicenter", lang=lang )}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/{{ lang }}/about">{{ fluent(key="about", lang=lang )}}<span class="sr-only">(current)</span></a>
                </li>

                {% if session_user != "" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ session_user }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
                      <a class="dropdown-item" href="/{{ lang }}/user/{{ session_user }}">{{ fluent(key="profile", lang=lang )}}</a>
                      <a class="dropdown-item" href="/{{ lang }}/log_out">{{ fluent(key="logout", lang=lang )}}</a>
                      <div class="dropdown-divider"></div>
                      {% if role == "admin" %}
                      <a class="dropdown-item" href="/{{ lang }}/user_index">{{ fluent(key="user-index", lang=lang )}}</a>
                      {% endif %}
                    </div>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/{{ lang }}/log_in">{{ fluent(key="login", lang=lang )}}<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/{{ lang }}/register">{{ fluent(key="register", lang=lang )}}<span class="sr-only">(current)</span></a>
                </li>

                {% endif %}
            </ul>
            <div class="d-flex align-items-center ml-auto">
                <a class="btn btn-dark" href="/toggle_language{{ path }}">{{ fluent(key="language-toggle", lang=lang ) }}</a>
            </div>
            </div>
            <!--
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Under Construction" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            -->
          </nav>
    </div>

    <div class="container">

    <div class="row">
            {% block content %}
            {% endblock content %}
    </div>
        
        {% block footer %}
            <div class="row">
                
                <div class="col m-md-2 m-1">

                    <hr>
                    
                    <p>{{ fluent(key="footer-1", lang=lang )}}</p>
                    <p>{{ fluent(key="available-licence", lang=lang )}} <a href="https://github.com/ToferC/epi_center">{{ fluent(key="epicenter", lang=lang )}}</a></p>
                        <p>{{ fluent(key="developed-by", lang=lang )}}</p>
                </div>

            </div>
        {% endblock footer %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>